<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>upload</servlet-name>            
  	<servlet-class>com.java.tcs.healthcare.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>upload</servlet-name>
  	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>SaveDictionaryServlet</servlet-name>            
  	<servlet-class>com.java.tcs.healthcare.servlet.SaveDictionaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveDictionaryServlet</servlet-name>
  	<url-pattern>/SaveDictionaryServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ReadDictionaryServlet</servlet-name>            
  	<servlet-class>com.java.tcs.healthcare.servlet.ReadDictionaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReadDictionaryServlet</servlet-name>
  	<url-pattern>/ReadDictionaryServlet</url-pattern>
  </servlet-mapping>
</web-app>